# Ignore environment variables and sensitive files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore build files
.build/
.out/
.next/
.vercel/
dist/
build/

# Ignore dependencies lock files (optional, if not using them)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore coverage reports
coverage/
*.lcov
.nyc_output/
jest-html-reporters-*.html

# Ignore log files and crash reports
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Ignore system files
Thumbs.db
.DS_Store
*.swp
*.bak
*.tmp
*.orig
*.log~

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore temporary files
tmp/
temp/
*.tmp

# Ignore node_modules
node_modules/
